:root{
  --fontFamily: 'Roboto Mono', monospace;
  --firstColor: #fff;
  --secondColor: #000;
}


* {
  text-align: center;
  padding: 0;
}

body {
  background-color: var(--secondColor);
  color: var(--firstColor);
  font-family: var(--fontFamily);
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  overflow: hidden;
  margin: 0;
  padding: 0;
}

#app{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#moneyDisplay {
  margin-left: 5vw;
  z-index: 2;

  text-align: left;
}

.Stats {
  margin-top: 5vh;
  margin-left: 5vw;
}

.Stats p {
  text-align: left;
  line-height: 1vh;
}

button {
  text-align: center;
  font-size: 20px;
  width: 30vw;
  font-family: var(--fontFamily);
  background-color: var(--firstColor);
  color: var(--secondColor);
  padding: 10px;
  border-radius: 10px;
}

span {
  font-weight: bold;
}


svg{
  height: 5vh;
  width: 5vh;

  stroke: var(--firstColor);
  position: absolute;
  top: 5vh;
  right: 5vh;
}

#settings{
  background-color: var(--secondColor);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#settings h2{
  margin-left: 3vh;
  text-align: left;

  font-size: larger;
}

#settings .themes{
  margin-top: -5vh;
}

#settings .themes .list{
  height: 28vh;
  width: 100%;

  margin-left: 3vh;
}

#settings .themes .list .row{
  display: flex;
  justify-content: left;
  flex-direction: row;
}

#settings .themes .list img{
  height: 13vh;
  margin: 1vh;
}

#settings .Gameplay *{
  text-align: left;
  margin-left: 3vh;
}

#settings .Gameplay p{
  font-size: 13px;
  margin: 0 0 0 3vh;
}

#settings .Gameplay button{
  background: none;
  color: var(--firstColor);
  font-size: 13px;
  border: none;
  margin: 0;
  font-weight: bold;
  height: 0;
}

#settings .Gameplay h3{
  font-size: large;
  margin: 0 0 0 3vh;
}

#message{
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 5vh;

  display: none;
}

@keyframes moveFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  15% {
    opacity: 1;
  }
  40% {
    opacity: 1;
    transform: translateX(0);
  }
  60%{
    opacity: 1;
    transform: translateX(0);
  }
  85% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}